.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
.div-logo{
    display: flex;
   
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

a i {
    margin-top: 4px;
    margin-right: 2px;
}

a p {
    margin: 0px;
}

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar .mat-icon {
      cursor: pointer;
  }

