<mat-sidenav-container class="container">
    <mat-sidenav position="end" class="sidenav" disableClose mode="over" opened fixedInViewport="true" fixedTopGap="60"
        [(opened)]="opened"  #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="navegarHome()">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item (click)="navegarCadastro()">
                <i class="material-icons">
                    storefront
                </i>
                Cadastro profissionais
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>