<mat-card class="mat-elevation-z2">
    <mat-card-title>
        Cadastrar Estabelecimento
    </mat-card-title>
    <form class="form" [formGroup]="form">
        <mat-grid-list cols="12" rowHeight="100px">
            <mat-grid-tile [colspan]="8" [rowspan]="1">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" placeholder="Nome" formControlName="nome" required>
                    <mat-error *ngIf="nome.hasError('required')">
                        Nome é obrigatório</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <div formGroupName="telefone">
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone Celular</mat-label>
                        <input matInput type="text" placeholder="Telefone Fixo" mask="(00) 0000-0000" formControlName="numeroTelefoneFixo"
                            required>
                        <mat-error *ngIf="nome.hasError('required')">
                            Telefone celular é obrigatório</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            </div>

        </mat-grid-list>
        <div formGroupName="endereco">
            <mat-grid-list cols="12" rowHeight="100px">
                <mat-grid-tile [colspan]="6" [rowspan]="1">
                    <mat-form-field appearance="outline">
                        <mat-label>Rua</mat-label>
                        <input matInput type="text" placeholder="Rua" formControlName="rua" required>
                        <mat-error *ngIf="rua.hasError('required')">
                            Rua é obrigatório</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="5" [rowspan]="1">
                    <mat-form-field appearance="outline">
                        <mat-label>bairro</mat-label>
                        <input matInput type="text" placeholder="bairro" formControlName="bairro" required>
                        <mat-error *ngIf="bairro.hasError('required')">
                            bairro é obrigatório</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline">
                        <mat-label>numero</mat-label>
                        <input matInput type="text" placeholder="numero" formControlName="numero" required>
                        <mat-error *ngIf="numero.hasError('required')">
                            numero é obrigatório</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="12" rowHeight="100px">
                <mat-grid-tile [colspan]="6" [rowspan]="1">
                    <mat-form-field appearance="outline">
                        <mat-label>cidade</mat-label>
                        <input matInput type="text" placeholder="cidade" formControlName="cidade" required>
                        <mat-error *ngIf="cidade.hasError('required')">
                            cidade é obrigatório</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input matInput type="text" placeholder="estado" formControlName="estado" required>
                        <mat-error *ngIf="estado.hasError('required')">
                            estado é obrigatório</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field appearance="outline">
                        <mat-label>cep</mat-label>
                        <input matInput type="text" placeholder="cep" formControlName="cep" mask="00000-000" required>
                        <mat-error *ngIf="cep.hasError('required')">
                            cep é obrigatório</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

    </form>

    <button mat-button color="primary" (click)="createProduct()">Salvar</button>
    <button mat-button color="warn" (click)="cancel()">Cancelar</button>
</mat-card>
