/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #E74C3C;
}

.v-middle {
    vertical-align: middle;
}

.toolbar-height{
    max-height: 50;
}

.msg-success {
    background-color: #2ECC71 ;
    color: white;
}

.msg-error {
    background-color: #E74C3C;
    color: white;
}

.msg-success span {
    color: white;
}

.msg-error span {
    color: white;
}

body{
	margin:0;
}
form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 5%;
    margin-right: 2%;
}

.mat-card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

::ng-deep .form .mat-form-field-prefix, ::ng-deep .form .mat-form-field-suffix { top: 0!important; }

.item {
	margin: 5px;
	text-align: center;
}

.mat-form-field {
    width: 100%;
}
.full-width-table {
    width: 100%;
   
  }
  
  
  
  /* Structure */
  .example-container {
    position: relative;
    min-height: 200px;
    width: 100%;
  }
  
  .example-table-container {
    position: relative;
    max-height: min-content;
    overflow: auto;
  }
  
  table {
    width: 100%;
    
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  